@font-face {
  font-family: Sofia-Pro;
  src: url(assets/sofia_pro_regular.otf);
}
@font-face {
  font-family: Sofia-Pro-Bold;
  src: url(assets/sofia_pro_bold.otf);
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c4c4c4;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c4c4c4;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c4c4c4;
}

html {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Sofia-Pro";
  width: 100%;
  font-size: 16px;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Sofia-Pro";
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 5em;
  margin: 0;
}

h2 {
  font-size: 1.5em;
}

input {
  margin-top: 1em;
  font-family: "Sofia-Pro";
  border: none;
  font-size: 1.5em;
  text-align: center;
  color: #527aff;
}

a.textButton {
  color: #527aff;
  cursor: pointer;
  text-decoration: none;
  margin-top: 2em;
}
a.textButton h2 {
  margin: 0;
}
a.textButton:link {
  color: #527aff;
}
a.textButton:hover {
  color: #527aff;
}

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #527aff;
  color: white;
  border-radius: 2em;
  border: none;
  transition: 0.3s;
  height: 1.7em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  box-shadow: 1px 2px 8px #c4c4c4;
  font-size: 1.5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.button:hover {
  transition: 0.3s;
  box-shadow: 1px 3px 12px #888;
}
.button:active {
  transition: 0.3s;
  box-shadow: 1px 2px 8px #c4c4c4;
}
.button.disabled {
  background: #888;
}

.logo {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper .center {
  display: inline-block;
}
.wrapper .center .buttonWrapper {
  margin-top: 1em;
}
.wrapper .center .nameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.wrapper .center h2 {
  display: inline-block;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.wrapper .center h2.me {
  border-bottom: 2px #527aff solid;
}
.wrapper .center h2.ready {
  color: #0aca84;
}
.wrapper.game {
  background: #3cb371;
}
.wrapper .myCards {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw;
  height: 30vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: bottom;
}
.wrapper .myCards .card {
  transform: translateX(-3vh);
  height: 80%;
  margin-right: -6vh;
  margin-top: auto;
  transition: all 0.3s;
}
.wrapper .myCards .card:hover {
  transform: translateX(-3vh) translateY(-6vh);
  transition: all 0.3s;
}
.wrapper .myCards .message {
  color: white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper .leftCards {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20vh;
  height: 80vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: left;
}
.wrapper .leftCards .card {
  width: 70%;
  margin-bottom: -16vh;
  transform: translateY(-16vh) rotate(90deg);
}
.wrapper .rightCards {
  position: absolute;
  right: 0;
  top: 50%;
  width: 20vh;
  height: 80vh;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .rightCards .card {
  width: 70%;
  margin-bottom: -16vh;
  margin-left: auto;
  transform: translateY(-16vh) rotate(-90deg);
}
.wrapper .sideScoreIndicator {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.wrapper .topScoreIndicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(4vh);
  color: white;
}
.wrapper .acrossCards {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw;
  height: 20vh;
}
.wrapper .acrossCards .card {
  height: 80%;
  margin-right: -6vh;
  margin-top: auto;
  transform: rotate(180deg);
}
.wrapper .highlight {
  border: 6px #527aff solid;
  border-radius: 16px;
}
.wrapper .leftCard {
  transform: rotate(90deg);
}
.wrapper .acrossCard {
  transform: rotate(180deg);
}
.wrapper .rightCard {
  transform: rotate(-90deg);
}
.wrapper .turn {
  text-decoration: underline;
}
.wrapper .playedCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper .playedCards .playedCardsVert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
